{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Web App{% endblock %}
{% block page_content %}

	<div class="container">

          <div class="row align-items-center">

            <div class="col-12 hero-text-image">

              <div class="row">

                <div class="col-lg-4 text-center text-lg-left">

                  <h1 data-aos="fade-right">Know Your Rubik' Cubes</h1>

                  <p class="mb-5" data-aos="fade-right" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur

                    adipisicing elit.</p>

                  <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500"><a href="#"

                      class="btn btn-outline-white">Get started</a></p>

                </div>

                <div class="col-lg-8 iphone-wrap">

                  <!--img src="static/img/phone_1.png" alt="Image" class="phone-2" data-aos="fade-right">

                  <img src="static/img/phone_2.png" alt="Image" class="phone-2" data-aos="fade-right" data-aos-delay="200"-->

		  <img src="data:image/png;base64, {{ plot_url }}" style="width:90%; height:230px" alt="Image" class="phone-2" data-aos="fade-right" data-aos-delay="400" >

                </div>

              </div>

            </div>

          </div>

        </div>
{% endblock %}

