{% extends "base.html" %}
{% block title %}Rubik's - Internal Server Error{% endblock %}
{% block page_content %}
	<div class="page-header">
		</div>

<div class="card mb-3">
        <h3 class="card-header"><font face="Tahoma" color="red">Internal Server Error - 500</font></h3>
        <div class="card-body">
                <div class="row">
                <div class="col-md-6">
                        <p>The web Application is returning an internal error for the page you requested due to app malfunction.<p>
           If you're a site visitor,  Nothing you can do at the moment. If you need immediate assistance, please send me an email: <a href="mailto:mosudi.pg7331@st.futminna.edu.ng">mosudi.pg7331@st.futminna.edu.ng</a> </p>

			<p>I apologize for any inconvenience.</p>
                </div>
                <div class="col-md-6">
                        <img class="img-fluid" src="static/images/rubiks.png">
                </div>
                <div class="col-md-6">
                        <b>You could just press this neat little button:</b>
                </div>
                <div class="col-md-6">
                        <a href="/" class="btn btn-large btn-info">
                                <i class="icon-home icon-white"></i> Take Me to App Home
                        </a>
                </div>
        </div>

</div>
	
{% endblock %}
