{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}


<div class="card mb-3">
  	<h3 class="card-header">Contact Details</h3>
  	<div class="card-body">
		<h4 class="card-title">Multi-Access Edge Computing Deployments for 5G Networks </h4>
		*Mosudi, I. O, Abolarinwa, J, & Zubair, S <br>
		Telecommunication Engineering Department, <br>
		Federal University of Technology, <br>
		PMB 65 Minna Niger State, Nigeria. <br>
		*Corresponding author <br>
		email: mosudi.pg7331@st.futminna.edu.ng <br>
		Phone:	+2348053673498
	</div>

</div>
{% endblock %}
