{% extends "base.html" %}
{% block title %}Rubik's - Out of memory Error{% endblock %}
{% block page_content %}
<div class="page-header">
	</div>
<div class="card mb-3">
        <h3 class="card-header"><font face="Tahoma" color="red">MemoryError: Out of memory</font></h3>
        <div class="card-body">
		<div class="row">
                <div class="col-md-6">
          		<p>The web Application is returning an "Out of memory" error due to app malfunction as a result of MemoryError: 
			In RendererAgg too high 'nXnXn' rubik's Cube.
			<p>I apologize for any inconvenience.</p>
          	</div>
          	<div class="col-md-6">
			<img class="img-fluid" src="static/images/rubiks.png">
		</div>
		<div class="col-md-6">
			<b>You could just press this neat little button:</b>
		</div>
                <div class="col-md-6">
        	        <a href="/" class="btn btn-large btn-info">
		                <i class="icon-home icon-white"></i> Take Me to App Home
        		</a>
		</div>
        </div>

</div>



          <br />




{% endblock %}
~             
