{% extends "bootstrap/base.html" %}
{% block title %}Know Your Rubik' Cubes{% endblock %}

{% block styles %}
<link rel="shortcut icon"     href="{{ url_for('static', filename='favico/favicon.ico') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png"  href="{{ url_for('static', filename='favico/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favico/favicon-32x32.png') }}">
<link rel="icon" type="image/png"  href="{{ url_for('static', filename='favico/favicon-96x96.png') }}">
<link rel="icon" type="image/png"  href="{{ url_for('static', filename='favico/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='favico/manifest.json') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='favico/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#ffffff">

<!--CSS -->
<link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='css/bootstrap.min_2.css')}}">
<link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='css/narrow-jumbotron_1.css')}}">
<link rel="stylesheet"
          href="https://getbootstrap.com/docs/4.0/examples/navbar-top-fixed/navbar-top-fixed.css">
<link rel="stylesheet"
          href="//necolas.github.io/normalize.css/7.0.0/normalize.css">
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway:900,900"  >
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Cambay" >
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto" >
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato" >
<link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='css/sticky-footer_1.css')}}">

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

{{ moment.include_moment() }}
{% endblock %}

{% block navbar %}
<!--div class="container">
      <div class="header clearfix">
                <nav>
                <ul class="nav nav-pills float-right">
                        <li class="nav-item">
                                <a class="nav-link active" href="/"> Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link active" href="/about"> About</a>
                        </li>
                        <li>
                                <a href="/contact" type="button" class="btn btn-outline-info">Contact</a>
                        </li>
                </ul>
                </nav>
                <h3 class="font-weight-bold" >
                        <a href="/" class="text-primary" style="font-family: 'Indie Flower', cursive;">Rubik</a><a href="/" class="text-success" style="font-family: 'Raleway', sans-serif;">Cubes</a></h3>
      </div-->
{% include 'includes/_navigationbar.html' %}
{% endblock %}


{% block content %}
	<div class="container">
		{% block page_content %}{% endblock %}
	</div>

	<footer class="text-info" style="text-align: center;">
    &copy; copyright  {{ moment(current_time).format('YYYY') }} | 
    <a href="mailto:mosudi.pg7331@st.futminna.edu.ng">mosudi.pg7331@st.futminna.edu.ng</a> | 
    <a href="http://www.mioemi.com">wwww.mioemi.com</a> 
  </footer>
{% endblock %}
