{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}


<div class="card mb-3">
  	<h3 class="card-header text-center">Multi-Access Edge Computing Deployments for 5G Networks</h3>
  	<div class="card-body">
		<h4 class="card-title alert alert-info">
		<strong>*Mosudi, I. O, Abolarinwa, J, & Zubair, S</strong>
		Telecommunication Engineering Department, <br>
                Federal University of Technology, <br>
                PMB 65 Minna Niger State, Nigeria.
		</h4>
		<div class="alert alert-success">	
			*Corresponding author <br>
			email: mosudi.pg7331@st.futminna.edu.ng <br>
			Phone:	+2348053673498, +2348098673498
		</div>
	</div>

</div>
{% endblock %}
