{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "includes/_formhelpers.html" import render_field %}
{% block page_content %}
<!--div class="container">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning" >
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}		
	</div>
	{% endfor %}
</div-->
<div class="page-header">
<h2>Know Your Rubik' Cubes</h2>
</div>
<!-- {{  timer }}

<br>
{{ time.time() - timer }} -->

<div class="card-header"">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
  	<div class="row">
		 <div class="col-md-4"> 
	  	 	<div class="thumbnail hovereffect"><!-- 
				{##% if m >= 2 and m < 13 %} 
			  
				{{ wtf.quick_form(formM) }} 
			
				{{ formM.m.data }}
			
				 {% endif %##}
				-->
				{{ wtf.quick_form(form) }} 

				{% for message in get_flashed_messages() %} 
						<p class="text-danger"> {{ message }} </p> 
				{% endfor %}
	  		</div>
	  	</div>
  
	  <div class="col-md-8" style="text-align: center; font-weight: bold;">
	  	<div class="row"> 			
	  		<div class="col-md-3 list-group alert alert-success">
				 <div class="list-group-item active" style="font-size: 10px">
					 Rubik Size
				 </div>
				 <div class="list-group-item" style="font-size: 10px; font-weight: bold;">
				 	{% if num > 1 %} {{ num }}X{{ num }}X{{ num }} {% endif %}
				 </div> 
		      	</div>
	  			<div class="col-md-3 list-group alert alert-info">
					 <div class="list-group-item active" style="font-size: 11px">
						 Total Cubelets
					 </div>
					 <div class="list-group-item"  style="font-size: 10px; font-weight: bold;">
						 {% if num > 1 %} {{ cubeletSum }} {% endif %}
					 </div>
		      		</div>
		    	<div class="col-md-3 list-group alert alert-success">
				<div class="list-group-item active" style="font-size: 11px">
					Faces Cubelets
				</div>
				<div class="list-group-item"  style="font-size: 10px; font-weight: bold;">
					{% if num > 1 %} {{ FacesCubelets }} {% endif %}
				</div>
		    	</div>
		    	<div class="col-md-3 list-group alert alert-info">
				<div class="list-group-item active" style="font-size: 11px">
					Hidden Cubelets
				</div>
				<div class="list-group-item"  style="font-size: 10px; font-weight: bold;">
					{% if num > 1 %}{{ hidden }} {% endif %}
				</div>
		    	</div>
	    	</div>
	    </div>
	</div><!--end row-->
	<div class="col-lg-12">
		{% include "rubiks_images.html" ignore missing %}
	</div>
	<br>
	<p>
	<div class="row">
		<div class="col-md-2 text-center " style="background-color: #04287d;"> FRONT</div>
		<div class="col-md-2 text-center " style="background-color: green;"> BACK </div>
		<div class="col-md-2 text-center " style="background-color: #c41906;"> LEFT</div>
		<div class="col-md-2 text-center " style="background-color: #d45f24;">RIGHT </div>		
		<div class="col-md-2 text-center " style="font-weight: bold;"> UP</div>
		<div class="col-md-2 text-center " style="background-color: yellow;"> DOWN</div>
	</div>
	<h1>
		<em> 
			{{ process_delay }}
		</em>
			<button type="button" class="btn btn-success">
                                        {{ killpid_function }}
                        </button>

	</h1>
	</p>




  </div>
</div>
<!--
	{{ time.time() - timer }}
-->

{% endblock %}


<!-- 
{##% if m >= 2 and m < 13 %} 
  
    {{ wtf.quick_form(formM) }} 

    {{ formM.m.data }}

 {% endif %##}
-->
